<a href="https://colab.research.google.com/github/lethikieuly/PANDAS-FUNCTION/blob/main/Pandas_DataFrame_Describe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STRUCTURE**

DataFrame.describe(percentiles=None, include=None, exclude=None,datetime_is_numeric=False)

**Concept**: Return a statistical summary

We can also see

-*DataFrame.count: Count number of non-NA/null observations.*

-*DataFrame.max: Maximum of the values in the object.*

-*DataFrame.min: Minimum of the values in the object.*

-*DataFrame.mean: Mean of the values.*

-*DataFrame.std Standard deviation of the observations. (độ lệch chuẩn của các quan sát*

**1/ Default Describe - Let's see what comes out by default**

In [1]:
import pandas as pd

Skip rows and colums that do not contain numbers

In [3]:
Product=pd.DataFrame({'Names':pd.Categorical(['Sandal','scissors','hat']),
                      'Size':[1,2,4],
                      'Code':['a','b','c']})
Product.describe()

           Size
count  3.000000
mean   2.333333
std    1.527525
min    1.000000
25%    1.500000
50%    2.000000
75%    3.000000
max    4.000000

**2. Including all columns via 'include'**

Provides full summary statistics. We can see that for the object type columns like unique, top, frequence.
- Unique is the number of distinct objects in the column.
- Top is most frequently occurring object,
- and freq is the number of times the top object appears in the column

NaN which stands for not a number. This is because that particular statistical metric cannot be calculated for that specific column data type.

In [4]:
Product.describe(include='all')

           Names      Size Code
count          3  3.000000    3
unique         3       NaN    3
top     scissors       NaN    a
freq           1       NaN    1
mean         NaN  2.333333  NaN
std          NaN  1.527525  NaN
min          NaN  1.000000  NaN
25%          NaN  1.500000  NaN
50%          NaN  2.000000  NaN
75%          NaN  3.000000  NaN
max          NaN  4.000000  NaN

Provide a concise summary of your dataframe

In [8]:
Product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Names   3 non-null      category
 1   Size    3 non-null      int64
 2   Code    3 non-null      object
dtypes: category(1), int64(1), object(1)
memory usage: 283.0+ bytes

**3. Treating datetimes like numbers via datetime_is_numeric=True**

In [7]:
import numpy as np

s = pd.Series([
  np.datetime64("2000-01-01"),
  np.datetime64("2010-01-01"),
  np.datetime64("2010-01-01")
])
s.describe(datetime_is_numeric=True)

count                      3
mean     2006-09-01 08:00:00
min      2000-01-01 00:00:00
25%      2004-12-31 12:00:00
50%      2010-01-01 00:00:00
75%      2010-01-01 00:00:00
max      2010-01-01 00:00:00
dtype: object