<a href="https://colab.research.google.com/github/lethikieuly/PANDAS-FUNCTION/blob/main/Pandas_value_Counts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STRUTURE**

DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

Return a Series containing counts of **unique rows **in the DataFrame.

It will count the frequency of the unique values in your series or 
Count How many each value occurs?  Let's start examples below!

**1/ Counting frequency of unique values in a series**

**2/ Counting relative frequency of unique values in a series (normalizing)**

**3/ Counting a continuous series using bins.**

1/ Counting frequency of unique values in a series.

In [ ]:
import pandas as pd
School=pd.DataFrame([('UEL', 'Female',0.8),
                    ('BKU','Female',0.2),
                    ('UEL','Male',0.2),
                     ('UIT','Female',0.3)],
                    columns=('school','sex','proportion'))
School

  school     sex  proportion
0    UEL  Female         0.8
1    BKU  Female         0.2
2    UEL    Male         0.2
3    UIT  Female         0.3

In [ ]:
#Let's call values_counts on our "name" column.-> Trả về số lượng trong cột school 
School['school'].value_counts()

UEL    2
UIT    1
BKU    1
Name: school, dtype: int64

In [ ]:
#It not sort
School['school'].value_counts(sort=False)

BKU    1
UEL    2
UIT    1
Name: school, dtype: int64

In [ ]:
#Sort in ascending order 
School['school'].value_counts(ascending=True)

BKU    1
UIT    1
UEL    2
Name: school, dtype: int64

2/ Counting relative frequency of unique values in a series (normalizing)
Phương pháp nhằm tính sác xuất tần suất xuất hiện

Vd bài toán này: tuần suất xuất hiện 1 lần 1/4

Tuần xuất xuất hiện uit=1*0.25, uel=2*0.25, bku=1*0.25

In [ ]:
School.value_counts(normalize=True)

school  sex     proportion
UIT     Female  0.3           0.25
UEL     Male    0.2           0.25
        Female  0.8           0.25
BKU     Female  0.2           0.25
dtype: float64

3/ Counting a continuous series using bins.

In [1]:
import numpy as np
import pandas as pd
np.random.seed(seed=42) #Đảm bảo các các giá trị giống nhau xuất hiện mỗi lần
random_number= np.random.random(size=(10,1),)
random_number=pd.DataFrame(random_number,columns=['rand_num'])
random_number

   rand_num
0  0.374540
1  0.950714
2  0.731994
3  0.598658
4  0.156019
5  0.155995
6  0.058084
7  0.866176
8  0.601115
9  0.708073

In [2]:
random_number['rand_num'].value_counts(bins=3)
#Qua đây ta nhìn nhận số giá trị thuộc trong 3 bin dữ liệu vừa chia.

(0.653, 0.951]     4
(0.356, 0.653]     3
(0.0562, 0.356]    3
Name: rand_num, dtype: int64

In [3]:
random_number['rand_num'].value_counts(bins=[0,.2,.6,1])

(0.6, 1.0]       5
(-0.001, 0.2]    3
(0.2, 0.6]       2
Name: rand_num, dtype: int64