<a href="https://colab.research.google.com/github/lethikieuly/PANDAS-FUNCTION/blob/main/Pandas_isnull_sum_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**I./** **Pandas.DataFrame.isnull**

i enjoy this function. it Detect missing values Return a boolean same-sized object indicating if the values are NA. NA values, such as None or numpy.NaN, gets mapped to True values. Everything else gets mapped to False values. Characters such as empty strings '' or numpy.inf are not considered NA values (unless you set pandas.options.mode.use_inf_as_na = True).

**Examples:**

In [2]:
import pandas as pd
import numpy as np
covid={'City':['HCM', 'HaNoi',None, 'DaNang', "CanTho"],
       'Socamac':[1,2,np.NaN,0, np.NaN],
       }
covid=pd.DataFrame(data=covid)
print(covid.isnull())

    City  Socamac
0  False    False
1  False    False
2   True     True
3  False    False
4  False     True

Additionally, I can .sum expression matching. Return the sum of the values over the requested axis.

DataFrame.sum(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, **kwargs)

We wil not go into this in depth, but focus on implementing a small part. 
Let's continue with the above example: 

Pandas Sum: Summing across rows, Summing across columns, Multi Level Index Sum , Summing a Series
But first, let's create our DataFrame

In [6]:
print(covid.sum())
#it sum all detect missing values

Socamac    3.0
dtype: float64

In [14]:
covid1=pd.DataFrame([(3,100), (2,70), ( 0,60)],columns=("Chet",'So ca'))
covid1

   Chet  So ca
0     3    100
1     2     70
2     0     60

**II./  Pandas.DataFrame.sum**

**1/ SUM ACROSS ROW & COLUMN**

In [16]:
# Sum across row
covid1.sum(axis=1)

0    103
1     72
2     60
dtype: int64

In [17]:
# Sum across column
covid1.sum(axis= 0)

Chet       5
So ca    230
dtype: int64

**2/ MULTI LEVEL INDEX SUM**

If you have a multi level index, then you can tell pandas which index you'd like to sum across.

Let's make a multi level DataFrame first.

In [4]:
data=(['Mango','sweet', 10,2],
      ['Mango','sour', 7,1],
      ['plum','sweet', 20,5],
      ['Apple', 'sweet',10,7],
      ['Apple','bitterness',15,1])
fruits=pd.DataFrame(data,columns=['Fruits','Taste','Weight','quatity'])
fruits=fruits.set_index(['Fruits', 'Taste'])
fruits

                   Weight  quatity
Fruits Taste
Mango  sweet           10        2
       sour             7        1
plum   sweet           20        5
Apple  sweet           10        7
       bitterness      15        1

In [10]:
fruits.sum(level=1)
# Function vô cùng hữu ích trong việc phân tích dữ liệu, nhận thấy tính tổng  sweet (10+20+10), sour(7) & bitterness (15)

            Weight  quatity
Taste
sweet           40       14
sour             7        1
bitterness      15        1

In [7]:
fruits.sum(level=0)
# Sum gộm các hàng mango, plum, apple :)))) nó làm tôi tưởng tượng đến pivottable, ở đây ta chỉ dùng 1 câu lệnh, that is amazing!

        Weight  quatity
Fruits
Mango       17        3
plum        20        5
Apple       25        8

**III./ pandas.DataFrame.values**

Only the values in the DataFrame will be returned, the axes labels will be removed.

In [11]:
fruits.values

array([[10,  2],
       [ 7,  1],
       [20,  5],
       [10,  7],
       [15,  1]])

In [12]:
covid.values

array([['HCM', 1.0],
       ['HaNoi', 2.0],
       [None, nan],
       ['DaNang', 0.0],
       ['CanTho', nan]], dtype=object)