<a href="https://colab.research.google.com/github/lethikieuly/PANDAS-FUNCTION/blob/main/practice_exercises_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("/content/sample_data/nba.csv")
data.head(5)

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [3]:
data =data.sample(5,random_state=42).reset_index().drop ('index',axis=1)
print(data)

                Name               Team  ...        College      Salary
0       Andre Miller  San Antonio Spurs  ...           Utah    250750.0
1       Kyle O'Quinn    New York Knicks  ...  Norfolk State   3750000.0
2       Goran Dragic         Miami Heat  ...            NaN  14783000.0
3          O.J. Mayo    Milwaukee Bucks  ...            USC   8000000.0
4  Cristiano Felicio      Chicago Bulls  ...            NaN    525093.0

[5 rows x 9 columns]

In [4]:
print(f'Dataset Shape:{data.shape}')

Dataset Shape:(5, 9)

In [7]:
summary=pd.DataFrame(data.dtypes,columns=['dtypes'])
#nó sẽ tạo ra một column tiêu đề dtypes, một hàng k tiêu đề gồm (name, team, number...salary)
summary=summary.reset_index()
#Haha tại đây thì hàng k tiêu đề thành index
summary['name']=summary['index']
#Xong hài hước hơn ơ kìa name thành index giống y chang luôn
summary= summary[['name','dtypes']]
#Nó lại khới tạo summary chỉ là mảng có name vs dtypes thôi 
summary['Missing']=data.isnull().sum().values
#Tại đây được ôn tập 3 function in thư viện pandas, isnull detect missing values, xong sum default=0, và values sẽ loại bỏ cột tiêu đề trả về các giá trị
summary['First Value']= data.loc[0].values
#This is basic funtion however it's useful. In this example, data pattern is random and it make you where first values
summary['Second Value']=data.loc[1].values
summary['Third Value']=data.loc[2].values
summary

       name   dtypes  Missing        First Value     Second Value   Third Value
0      Name   object        0       Andre Miller     Kyle O'Quinn  Goran Dragic
1      Team   object        0  San Antonio Spurs  New York Knicks    Miami Heat
2    Number  float64        0                 24                9             7
3  Position   object        0                 PG               PF            PG
4       Age  float64        0                 40               26            30
5    Height   object        0                6-3             6-10           6-3
6    Weight  float64        0                200              250           190
7   College   object        2               Utah    Norfolk State           NaN
8    Salary  float64        0             250750         3.75e+06    1.4783e+07